main{
    padding-top:70px;
    padding-bottom:30px;
    background-color: rgba(211, 234, 250, 0.267);
}
main h1{
    color:white;
    background-color:#203141;
    width:100%;
    padding:15px;
}
abbr{text-decoration:none}
.removePadding{padding:0px}
.fundo{padding:5px}
main h3{
    background-color:rgba(209, 80, 2, 0.8);
    color:white;
    text-align:center;
    padding:15px;
}
main p{
    line-height:1.5em;
    margin-top:15px;
    padding:20px;
}
main em{
    display:block;
    color:black;
    padding:5px;
}
iframe{
    display:inline-block;
    width:270px;
    height:200px;
}
main a{
    text-decoration: none;
    cursor:pointer;
    color:rgba(209, 80, 2, 0.8);
    font-size:17px;
}
main img {
    width:80%;
    padding-top:15px;
}
.icone{
    width:45px;
    height:45px;
    border-radius:25%;
    box-shadow:-1px 1px 2px 1px rgba(209, 80, 2, 0.8);
    padding:0px;
}
.presp{
    color:rgba(209, 80, 2, 0.8);
    padding:0px;
}

@media screen and (min-width: 600px) and (max-width: 1199px){
    iframe{
        width:500px;
        height:300px;
    }
    main img {width:50%}
    .icone{
        width:60px;
        height:60px;
    }
    .aulaImpar h3{
        margin-right:20%;
        width:80%;
        text-align:right;
    }
    .aulaPar h3{
        margin-left:20%;
        width:80%;
        text-align:left;
    }
}
@media screen and (min-width: 1200px) {
    iframe{
        width:600px;
        height:300px;
    }
    main h3{text-align:center}
    main img {width:30%}
    .icone{
        width:70px;
        height:70px;
    }
    .aula1{margin-right:20px}
    .aula2{margin-left:20px}
    .aulaPar p{padding-left:40px}
    .aulaImpar p{padding-right:40px}
    .presp{display:none}
}