.logo-rodape {
    text-align: center;
    padding: 0px; 
}

.logo-rodape img {
    width: 80%;
}

.autoria {
    text-align: center;
    color: #203141;
    padding: 0px;
}

.contatos {
    width: 50%;
    text-align: center;
}

.contatos img {
    width: 60%;
    border-radius: 50%;
}

.mapa-rodape {
    width: 100%;
    height: 100%;
}


footer {
    background-color: rgb(234, 233, 232);
}

@media screen and (min-width: 600px) {

    .contatos {
        width: 50%;
    }

    .contatos img {
        width: 30%;
    }
    
    .logo-rodape img {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {

    .logo-rodape img {
        /* width: 300px; */
        width: 25%;
    }

    .contatos img {
        width: 65%;
    }
}