/* GERAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #203141;
    font-family: 'Prompt', sans-serif;
}

/* MENU */
nav {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav .col-logo {
    padding: 0px;
}

nav #img-logo {
    display: none;
}

nav .col-menu {
    padding: 0px;
    background-color: rgb(32, 49, 65);
}

nav #img-logo-complemento {
    margin-top: 17px;
    vertical-align: top;
    display: none;
}

label[for="bt-menu"] {
    position: relative;
    float: right;
    padding-top: 3px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(162, 165, 169);
    color: #203141;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
}

#bt-menu {
    display: none;
}

.menu {
    margin-top: -100%;
    border-top: 1px solid rgb(162, 165, 169);
    transition: all 0.2s;
    height: 100%;
    font-family: Lato, sans-serif;
    background-color: rgb(32, 49, 65);
}

.menu ul {
    list-style: none;
    position: relative;
    padding: 0px;
}

.menu ul li {
    width: 100%;
    float: none;
}

.menu>ul>li {
    border-top: .1px solid rgba(162, 165, 169, .8);
}

.menu ul li a {
    padding: 10px 10px 10px 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 14px;
}

.menu a:hover, .selecionado {
    font-weight: bold;
    background-color: #dddddd;
}

.selecionado {
    color: rgb(209, 92, 20) !important;
}

.menu a:hover {
    color: #368bda;
}

.menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.4s;
    background-color: rgb(32, 49, 65);
}

.menu ul li:hover ul {
    height: auto;
    max-height: 1500px;
}

.menu ul li ul li a {
    padding-left: 70px;
    font-size: 12px;
}

#bt-menu:checked~.menu {
    margin-top: 0px;
}

.selecionado {
    font-weight: bold;
}

@media screen and (min-width: 1000px) {

    nav .col-menu #logo-mobile {
        display: none;
    }

    nav .col-logo {
        text-align: right;
        padding: 0px;
        background-color: white;
        height: 60px;
    }

    nav #img-logo {
        float: left;
        /* width: 100px; */
        display: inline-block;
    }

    nav .col-menu {
        background-color: transparent;
    }
    
    nav #img-logo {
        /* width: 100px; */
        /* margin-right: -22px; */
    }

    nav #img-logo-complemento {
        margin-top: 18px;
        vertical-align: top;
        display: inline-block;
    }

    label[for="bt-menu"] {
        display: none;
    }

    .preenche {
        background-color: white;
        height: 18px;;
    }

    .menu {
        border-top: 1px solid rgb(32, 49, 65);
        margin: 0px 0px;
        height: 43px;
    }

    .menu>ul>li {
        width: 150px;
        float: left;
        text-align: center;
    }

    #li-curso {
        width: 200px;
    }

    .menu ul li a {
        text-align: center;
        padding: 10px;
    }

    .menu ul ul {
        width: 200px;
    }

    .menu ul li ul li {
        width: 200px;
        text-align: center;
    }

    .menu ul li ul li a {
        padding: 9px;
    }
}

@media screen and (min-width: 1200px) {

    .menu ul li {
        width: 190px;
    }
    
}