/* SECTION */
main {
    padding-top: 42px;
}

.banner {
    
    border-radius: 30px;
    width: 95%;
    height: 200px;
    /* border: 3px solid black; */
    margin: 20px auto; 
    background-size: 100% 100%;
    animation: banner 15s infinite;
}

@media screen and (min-width: 600px) {
    .banner {
        height: 280px;
    }
}

@media screen and (min-width: 1000px) {
    .banner {
        height: 350px;
        width: 85%;
    }
}

@media screen and (min-width: 1200px) {
    .banner {
        height: 400px;
    }
}

@keyframes banner {

    0%, 10% {
        background-image: url(../img/banner/ola.jpg);
        opacity: 1;
    }

    11%, 30% {
        background-image: url(../img/banner/bemvindo.jpg);
        opacity: 1;
    }

    31%, 34% {opacity: 0.7;}

    35%, 65% {
        background-image: url(../img/banner/hash.jpg);
        opacity: 1;
    }

    66%, 97% {
        background-image: url(../img/banner/escola-digital.jpg);
        opacity: 1;
    }
    
    98%, 100% {opacity: 0.7;}
}

.apresentacao {
    background-color: rgb(241, 239, 239);
}

.apresentacao h2 {
    text-align: center;
    line-height: 1.2em;
}

.apresentacao p {
    margin-top: 1.2em;
    text-align: justify;
}

.cursos {
    text-align: center;
}

.cursos .box-curso {
    background-color: rgba(211, 234, 250, 0.267);
    margin-bottom: 1em;
}

.cursos .box-curso:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}


.cursos h3 {
    text-align: center;
    margin-bottom: 1em;
}

.cursos img {
    width: 60%;
}

.cursos p {
    margin-top: 1em;
    text-align: justify;
}

.cursos h2, .cursos .bt-comece {
    text-align: center;
    background-color: rgb(32, 49, 65);
    color: white;
    padding: .6em;
}

.cursos .bt-comece {
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(209, 80, 2, 0.8);
}

.box-curso {
    text-decoration: none;
}

#contribua {
    background-color: #e9f1fad0;
    text-align: center;
}

.contribua-conheca img {
    width: 30%;
}

.contribua-conheca h4 {
    color: #368bda;
    /* text-decoration: underline; */
    cursor: pointer;
}

.equipe {
    /* padding: 0px 8px; */
    /* height: 80px; */
    border: none;
    /* margin: 0px 8px; */
    text-align: center;
}

abbr {
    text-decoration: none;
    text-align: center;
}

.equipe img {
    /* border: 1px solid #203141; */
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
}

.equipe img:active,
.equipe img:hover {
    transform: rotate(-360deg);
}

.equipe a {
    text-decoration: none;
    font-size: 12px;
    color: #203141;
    text-align: center;
}
    
.opiniao {
    background-color: white;
    box-shadow: 0px 0px 4px rgba(209, 80, 2, 0.2);
    box-shadow: 1px 0px 4px rgba(32, 49, 65, 0.4);
    border-radius: 0px 50px;
    /* margin: 2%; */
}

.opiniao img {
    width: 60%;
}

.nome-aluno {
    text-decoration: underline;
}

@media screen and (max-width: 599px) {

    .cursos .box-curso {
        border: 1px solid #ccc;
        width: 95%;
        margin-left: 2.5%;
    }
}

@media screen and (min-width: 600px) {
    
    .box-curso img {
        width: 80%;
    }

    .mais-comentarios {
        margin-top: 20px;
    }

    .equipe img {
        width: 40%;
    }
}

@media screen and (min-width: 1000px) {

    .box-curso img {
        height: 250px;
    }

    .cursos h2 {
        width: 400px;
        margin: auto;
    }

    .bt-comece {
        margin-left: 80px;
        margin-right: 80px;
    }

    .contribua-conheca img {
        width: 13%;
    }

    .titulo-equipe img {
        width: 19%;
    }

    .equipe img:hover {
        filter: none;
        border: 2px solid lightskyblue;
    }

    .equipe img {
        /* filter: grayscale(1); */
        filter: opacity(0.6);
        transition: all 0.3s;
        width: 50%;
    }

    .mais-comentarios {
        margin-top: 70px;
    }

    .opiniao img {
        width: 60%;
    }

}

@media screen and (max-width:599px) {
    .equipe {
        width: 50%;
    }

    .op1 {
        border-radius: 15% 0% 0% 0%;
    }

    .op2 {
        border-radius: 0%;
    }

    .op3 {
        border-radius: 0% 0% 15% 0%;
    }
}