main{
    padding-top:70px;
    padding-bottom:30px;
    background-color: rgba(211, 234, 250, 0.267);
}

main h1{
    color:white;
    background-color:#203141;
    width:100%;
    padding:15px;
}

main p{
    line-height:1.5em;
    margin-top:15px;
    padding:20px;
}

.questionario{
    background-color:rgb(217, 231, 245);
    border-radius:20px 0px 20px 0px;
}

form{
    padding:50px;
    padding-top:30px;
}

form ol{
    padding-bottom:25px;
    padding-top:5px;
}

div input[type="button"]{
    background-color:rgba(209, 80, 2, 0.8);
    text-align: center;
    padding:10px;
    font-size:14px;
    margin-bottom:10px;
    margin-right:10px;
    color:white;
    box-shadow:-1px 1px 2px 1px #203141;
    border:0px;
    border-radius:10px;
    cursor:pointer;
    display:inline-block;
}

div input[type="reset"]{
    background-color:rgba(209, 80, 2, 0.8);
    text-align: center;
    padding:10px;
    font-size:14px;
    color:white;
    box-shadow:-1px 1px 2px 1px #203141;
    margin-bottom:10px;
    margin-left:10px;
    border-radius:10px;
    border:0px;
    cursor:pointer;
    display:inline-block;
}

main img {
    width:80%;
    padding-top:15px;
    text-align:center;
    margin-bottom:15px;
}

.espaco{
    padding:0px 7%;
}

.botaodir,
.botaoesq {
    width: 50%;
}

.botaodir{
    text-align:right;
}

.botaoesq{
    text-align:left;
}

@media screen and (min-width: 600px) {
    main img {width:50%}
}

@media screen and (min-width: 1000px) {
    main img{width:30%}

    .espacamento{
        margin-right:17%;
        margin-left:17%;
    }

    .espaco{
        padding:0px 15% 15px 15%;
    }
}